<div class="container-fluid" *ngIf="this.forecastInfo">
  <div class="card blue-card" *ngFor="let forecast of forecastInfo.list">
    <div class="card-body forecast-card">
      <div class="row">
        <div class="col-4 day-block">
          <div class="week-day">{{forecast.dt_txt | dateFormat:'dddd'}}</div>
          {{forecast.dt_txt | dateFormat}}
        </div>
        <div class="col-4 status-block">
          <img src="../../../../assets/images/icons/{{forecast.weather[0].icon}}_w.svg" alt="ensolarado"/>
          <div class="status">{{forecast.weather[0].description}}</div>
        </div>
        <div class="col-4 temperature-block">
          <div class="min-temp">
            <img src="../../../../assets/images/icons/ic_min_w.svg" alt=""/>
            <span class="small-text">Min.</span> {{forecast.main.temp_min | number:'1.0-0'}}°
          </div>
          <div>
            <img src="../../../../assets/images/icons/ic_max_w.svg" alt=""/>
            <span class="small-text">Max.</span> {{forecast.main.temp_max | number:'1.0-0'}}°
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card orange-card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="week-day">Sabado</div>
          12/10/19
        </div>
        <div class="col-5 status-block">
          <img src="../../../../assets/images/icons/ic_sunny_w.svg" alt=""/>
          <span class="status">Ensolarado</span>
        </div>
        <div class="col-3 temperature-block">
          <div class="min-temp">
            <img src="../../../../assets/images/icons/ic_min_w.svg" alt=""/>
            <span class="small-text">Min.</span> 18°
          </div>
          <div>
            <img src="../../../../assets/images/icons/ic_max_w.svg" alt=""/>
            <span class="small-text">Max.</span> 31°
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card green-card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="week-day">Domingo</div>
          13/10/19
        </div>
        <div class="col-5 status-block">
          <img src="../../../../assets/images/icons/ic_storm_w.svg" alt=""/>
          <span class="status">Tempestade</span>
        </div>
        <div class="col-3 temperature-block">
          <div class="min-temp">
            <img src="../../../../assets/images/icons/ic_min_w.svg" alt=""/>
            <span class="small-text">Min.</span> 13°
          </div>
          <div>
            <img src="../../../../assets/images/icons/ic_max_w.svg" alt=""/>
            <span class="small-text">Max.</span> 23°
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card purple-card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="week-day">Segunda</div>
          14/10/19
        </div>
        <div class="col-5 status-block">
          <img src="../../../../assets/images/icons/ic_rain_w.svg" alt=""/>
          <span class="status">Chuvoso</span>
        </div>
        <div class="col-3 temperature-block">
          <div class="min-temp">
            <img src="../../../../assets/images/icons/ic_min_w.svg" alt=""/>
            <span class="small-text">Min.</span> 15°
          </div>
          <div>
            <img src="../../../../assets/images/icons/ic_max_w.svg" alt=""/>
            <span class="small-text">Max.</span> 24°
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card pink-card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="week-day">Terça</div>
          15/10/19
        </div>
        <div class="col-5 status-block">
          <img src="../../../../assets/images/icons/ic_cloud_w.svg" alt=""/>
          <span class="status">Nublado</span>
        </div>
        <div class="col-3 temperature-block">
          <div class="min-temp">
            <img src="../../../../assets/images/icons/ic_min_w.svg" alt=""/>
            <span class="small-text">Min.</span> 15°
          </div>
          <div>
            <img src="../../../../assets/images/icons/ic_max_w.svg" alt=""/>
            <span class="small-text">Max.</span> 24°
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
