.forecast-card {
  border: none;
  color: #4B6584;
  font-family: Arial, Helvetica, sans-serif;
  //height: 581px;

  .small-text {
    font-size: 1rem;
  }

  .card-header {
    background: #FFF;
    border: none;
    margin-top: 1rem;

    .location {
      display: flex;
      float: left;

      #location-icon {
        margin-right: 1rem;
      }

      #location-text {
        margin-top: 1.5rem;

        h3 {
          font-weight: bold;
          margin-bottom: 0;
        }
      }
    }

    .min-max-temp {
      display: flex;
      float: right;
      margin-top: 2.5rem;

      img {
        margin-right: 0.5rem;
      }

      .temp-text {
        margin-right: 1rem;
      }
    }
  }

  #temperature-card {
    padding-top: 3rem;
    .temperature {
      display: flex;
      border-right: 1px solid rgb(221, 223, 224);

      .col-2, .col-10 {
        padding: 0;
      }

      #med-icon {
        margin: -4rem 2rem 0 0;
      }

      #temperature-info {
        display: flex;
        flex-direction: column;
        #temperature-value {
          font-size: 10rem;
          height: 12rem;
        }
  
        #thermic-sensation {
          text-align: center;
          border: 1px solid #2BCBBA;
          border-radius: 3rem;
          margin-top: 1rem;
        }
      }
      
    }

    .weather {
      #weather-icon {
        text-align: center;
        margin-top: 3rem;

        img {
          height: 115px;
          width: 196px;
        }
      }
      
      #weather-status {
        text-align: center;
        margin-top: 2rem;
        font-weight: bold;
        font-size: 1.8rem;
      }
    }

    #general-info {
      margin-top: 2rem;

      .card {
        height: 163px;
        text-align: center;
        border: none;

        .general-info-title {
          padding-top: 1rem;
        }

        .general-info-value {
          padding-top: 1rem;
          font-size: 1.8rem;
          font-weight: bold;
        }
      }
    }

  }
}
